* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	perspective: 1000px;
}

.inner {
	transition: 1s; 
	transform: rotateY(40deg);
 }

.inner2{
	transition: 1s; 
	transform: rotateY(-40deg);
}

.animasi {
	box-shadow: 16px 14px 20px #0000008c;
	border-radius: 35px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animasi2 {
	box-shadow: 16px 14px 20px #0000008c;
	border-radius: 35px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animasi3 {
	box-shadow: 16px 14px 20px #0000008c;
	border-radius: 35px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animasi::before{
	content: "";
	background-image: conic-gradient(
		 #ff0052 0,3deg,
		 transparent 120deg
	);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 5s linear infinite;
}
.animasi2::before{
	content: "";
	background-image: conic-gradient(
		 #ff0052 0,3deg,
		 transparent 120deg
	);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 5s linear infinite;
}
.animasi3::before{
	content: "";
	background-image: conic-gradient(
		 #ff0052 0,3deg,
		 transparent 120deg
	);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 5s linear infinite;
}

.animasi::after{
	content: "";
	width: 135px;
	height: 145px;
	background-image: url("../../assets/New/char/otters1.jpeg");
	background-size: 200px;
	background-position: center;

	position: absolute;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff0052;
	font-size: larger;
	letter-spacing: 5px;
	box-shadow: inset 20px 20px 20px #0000008c;
}
.animasi2::after{
	content: "";
	width: 135px;
	height: 145px;
	background-image: url("../../assets/New/char/otters2.jpeg");
	background-size: 200px;
	background-position: center;

	position: absolute;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff0052;
	font-size: larger;
	letter-spacing: 5px;
	box-shadow: inset 20px 20px 20px #0000008c;
}
.animasi3::after{
	content: "";
	width: 135px;
	height: 145px;
	background-image: url("../../assets/New/char/otters3.jpeg");
	background-size: 200px;
	background-position: center;

	position: absolute;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff0052;
	font-size: larger;
	letter-spacing: 5px;
	box-shadow: inset 20px 20px 20px #0000008c;
}



.animasi img {
	z-index:10
}



.wrapper-img{
	height: 157px;
	z-index: 2;
}

@media only screen and (min-width: 375px) {
	.animasi::after{
		width: 100px;
		height: 154px;
	    background-size: 150px;
	}
	.animasi2::after{
		width: 100px;
		height: 154px;
	   	background-size: 150px;
   	}
   	.animasi3::after{
		width: 100px;
		height: 154px;
   		background-size: 150px;
	}

	.wrapper-img {
	  height: 160px;
		 z-index: 2;
  }	
}

@media only screen and (min-width: 390px) {
	.animasi::after{
		 width: 103px;
		 height: 170px;
	    background-size: 150px;

	}
	.animasi2::after{
		width: 103px;
		height: 170px;
	   background-size: 150px;

   	}
	.animasi3::after{
		width: 103px;
		height: 170px;
	   background-size: 150px;
   }

	.wrapper-img {
	  height: 180px;
		 z-index: 2;
  }	
}

@media only screen and (min-width: 414px) {
	.animasi::after{
		 width: 115px;
		 height: 244px;
	    background-size: 250px;
	}
	.animasi2::after{
		width: 115px;
		height: 244px;
	   background-size: 250px;

   }
   .animasi3::after{
	width: 115px;
	height: 244px;
   background-size: 250px;

}

	.wrapper-img {
	  height: 250px;
		 z-index: 2;
  }
}

@media only screen and (min-width: 640px) {
	.animasi::after{
		 width: 180px;
		 height: 190px;
	}
	.animasi2::after{
		width: 180px;
		height: 190px;
   }
   .animasi3::after{
	width: 180px;
	height: 190px;
}

	.wrapper-img {
	  height: 204px;
		 z-index: 2;
  }
}

@media only screen and (min-width: 768px) {
	

	/* .animasi{
		left: -150px;
		width: 240px;
	}
	.animasi2{
		left: -45px;
		width: 240px;
	}
	.animasi3{
		right: -35px;
		width: 240px;
	} */
	
	/* .animasi::after{
		 width: 220px;
		 height: 230px;
		 background-size: 230px;

	}
	.animasi2::after{
		width: 230px;
		height: 235px;
		background-size: 250px;

   }
   .animasi3::after{
	width: 220px;
	height: 230px;
	background-size: 230px;

}

	.wrapper-img {
	  height: 244px;
		 z-index: 2;
  } */
}

@media only screen and (min-width: 1024px) {
	.animasi::after{
		 width: 210px;
		 height: 220px;
		 background-size: 250px;
	}
	.animasi2::after{
		width: 210px;
		height: 220px;
		background-size: 250px;
   }
   .animasi3::after{
	width: 210px;
	height: 220px;
	background-size: 250px;
}

	.wrapper-img {
	  height: 230px;
		 z-index: 2;
  }
}

@media only screen and (min-width: 1280px) {
	.animasi::after{
		 width: 300px;
		 height: 220px;
	}
	.animasi2::after{
		width: 300px;
		height: 220px;
   }
   .animasi3::after{
	width: 300px;
	height: 220px;
}

	.wrapper-img {
	  height: 230px;
		 z-index: 2;
  }
}
/* non tailwind */
/* @media only screen and (min-width: 1366px) {
	.animasi::after{
		 width: 330px;
		 height: 280px;
		 background-size: 350px;
	}
	.animasi2::after{
		width: 330px;
		height: 280px;
		background-size: 350px;
   }
   .animasi3::after{
	width: 330px;
	height: 280px;
	background-size: 350px;
}

	.wrapper-img {
	  height: 290px;
		 z-index: 2;
  }
} */

/* @media only screen and (min-width: 1536px) {
	.animasi::after{
		 width: 390px;
		 height: 280px;
		 background-size: 380px;
	}
	.animasi2::after{
		width: 390px;
		height: 280px;
		background-size: 380px;
   }
   .animasi3::after{
	width: 390px;
	height: 280px;
	background-size: 380px;
}

	.wrapper-img {
	  height: 290px;
	  width: 100px;
		 z-index: 2;
  }
} */

/* @media only screen and (min-width: 1920px) {
	.animasi::after{
		 width: 515px;
		 height: 340px;
	background-size: 450px;

	}
	.animasi2::after{
		width: 515px;
		height: 340px;
	background-size: 450px;
   }
   .animasi3::after{
	width: 515px;
	height: 340px;
	background-size: 450px;
}

	.wrapper-img {
	  height: 350px;
		 z-index: 2;
  }
} */

/* @media only screen and (min-width: 2560px) {
	.animasi{
		margin-left: 120px;
		width: 450px;
	}
	.animasi2{
		width: 600px;
	}
	.animasi3{
		width: 450px;
	}

	.animasi::after{
		 width: 430px;
		 height: 320px;
	background-size: 410px;

	}
	.animasi2::after{
		width: 580px;
		height: 320px;
	background-size: 480px;

   }

   .animasi3::after{
	width: 430px;
	height: 320px;
	background-size: 410px;
}


	.wrapper-img {
	  height: 340px;
		 z-index: 2;
  }
} */


@keyframes rotate {
	0%{
		 transform: rotate(0deg);
	}
	100%{
		 transform: rotate(360deg);
	}
}



